@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ff96c0;
    position: relative; /* Adicionado para permitir o posicionamento absoluto dos filhos */
}

.logo {
    text-align: center;
    position: absolute; /* Adicionado para permitir o posicionamento absoluto */
    top: 20px; /* Adicionado para mover o título para cima */
    left: 50%; /* Adicionado para centralizar horizontalmente */
    transform: translateX(-50%); /* Adicionado para centralizar horizontalmente */
}

.logo .title {
    font-size: 100px;
    font-family: 'Great Vibes', cursive;
    color: #c22d63;
}


.button {
    padding: 20px 40px;
    font-size: 14px;
    cursor: pointer;
    background-color: #d1477a;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;

}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px; }

.login-container input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 800px; 
    height: 40px;
}