@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ff96c0; /* Fundo rosa mais claro */
}

.container {
    border: 2px solid #c22d63; /* Bordas rosa mais escuro */
    width: 1000px;  /* Aumentado */
    height: 600px;
    position: relative;
    background-color: #fff6fa;
}

.logo {
    text-align: center;
    margin-top: 100px;
}

.title {
    font-size: 100px;
    font-family: 'Great Vibes', cursive;
    color: #c22d63; 
    margin-top: 150px;
}

.logo .subtitle {
    font-size: 20px;
    font-style: italic;
    margin-top: 10px;
    color: #e16292; 
}

.logo .stars {
    font-size: 40px;
    margin-top: 10px;
    color: #f07ca9; 
}

.button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #d1477a;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #c22d63; 
    font-size: 20px;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-container input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}